In [1]:
import pandas as pd

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
#Create Series - a column in a dataframe/a 1D array

a = [1, 7, 2]

ser = pd.Series(a)

print(ser,ser[0])

0    1
1    7
2    2
dtype: int64 1

In [7]:
a = [1, 7, 2]
b = ["x","y","z"]
ser = pd.Series(a, index = b)

print(ser,ser["z"])

x    1
y    7
z    2
dtype: int64 2

In [8]:
#Create a series from a dictionary

calories = {"day1": 420, "day2": 380, "day3": 390}

series_from_dict = pd.Series(calories)

print(series_from_dict)

day1    420
day2    380
day3    390
dtype: int64

In [9]:
#Create a series from part of a dictionary

series_from_part = pd.Series(calories, index = ["day1", "day2"])

print(series_from_part)

day1    420
day2    380
dtype: int64

In [10]:
#Create a dataframe from two series

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df_from_two_series = pd.DataFrame(data)
df_from_two_series

   calories  duration
0       420        50
1       380        40
2       390        45

In [11]:
#Locate Row Functions

print(df_from_two_series.loc[0]) #Returns a pandas series

calories    420
duration     50
Name: 0, dtype: int64

In [13]:
print(df_from_two_series.loc[[0,1]]) #Return multiple rows

   calories  duration
0       420        50
1       380        40

In [16]:
#Named indices
df_named = pd.DataFrame(data,index = ["day1","day2","day3"]) #NOTE - the data cannot be in the form of a dataframe

In [17]:
df_named

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [20]:
print(df_named.loc[["day1","day3"]])

      calories  duration
day1       420        50
day3       390        45

In [24]:
# Locate by index - iloc functions

df_from_two_series.iloc[1,1] #iloc[row_position,col_position]

40

In [33]:
df_named.iloc[:2,:3]

      calories  duration
day1       420        50
day2       380        40

In [38]:
# Faster single element access - at 

df_from_two_series.at[1,"calories"]
df_named.at["day1","duration"]

50

In [40]:
# Faster single element access by index - iat 

df_from_two_series.iat[1,1]

40

In [46]:
#Read CSV

df_data = pd.read_csv("data.csv")

first_five_df = df_data.head(5)

In [69]:
#Rename the index
new_indices = ['Index']
renamed_five = first_five_df.rename_axis(index = new_indices,axis = 0)
renamed_five

       Duration  Pulse  Maxpulse  Calories
Index
0            60    110       130     409.1
1            60    117       145     479.0
2            60    103       135     340.0
3            45    109       175     282.4
4            45    117       148     406.0

In [66]:
renamed_five.iloc[:,0]

Index
0    60
1    60
2    60
3    45
4    45
Name: Duration, dtype: int64

In [74]:
#Add Index using the following

renamed_five.set_index([pd.Index(["First","Second","Third","Fourth","Fifth"])])

        Duration  Pulse  Maxpulse  Calories
First         60    110       130     409.1
Second        60    117       145     479.0
Third         60    103       135     340.0
Fourth        45    109       175     282.4
Fifth         45    117       148     406.0

In [75]:
print(pd.options.display.max_rows)

60

In [86]:
#JSON Data
import numpy as np 

df_json = pd.read_json("jsondata.json")
df_json.to_string()

'     Duration  Pulse  Maxpulse  Calories\n0          60    110       130     409.1\n1          60    117       145     479.0\n2          60    103       135     340.0\n3          45    109       175     282.4\n4          45    117       148     406.0\n5          60    102       127     300.5\n6          60    110       136     374.0\n7          45    104       134     253.3\n8          30    109       133     195.1\n9          60     98       124     269.0\n10         60    103       147     329.3\n11         60    100       120     250.7\n12         60    106       128     345.3\n13         60    104       132     379.3\n14         60     98       123     275.0\n15         60     98       120     215.2\n16         60    100       120     300.0\n17         45     90       112       NaN\n18         60    103       123     323.0\n19         45     97       125     243.0\n20         60    108       131     364.2\n21         45    100       119     282.0\n22         60    130       101     300.0\n23         45    105       132     246.0\n24         60    102       126     334.5\n25         60    100       120     250.0\n26         60     92       118     241.0\n27         60    103       132       NaN\n28         60    100       132     280.0\n29         60    102       129     380.3\n30         60     92       115     243.0\n31         45     90       112     180.1\n32         60    101       124     299.0\n33         60     93       113     223.0\n34         60    107       136     361.0\n35         60    114       140     415.0\n36         60    102       127     300.5\n37         60    100       120     300.1\n38         60    100       120     300.0\n39         45    104       129     266.0\n40         45     90       112     180.1\n41         60     98       126     286.0\n42         60    100       122     329.4\n43         60    111       138     400.0\n44         60    111       131     397.0\n45         60     99       119     273.0\n46         60    109       153     387.6\n47         45    111       136     300.0\n48         45    108       129     298.0\n49         60    111       139     397.6\n50         60    107       136     380.2\n51         80    123       146     643.1\n52         60    106       130     263.0\n53         60    118       151     486.0\n54         30    136       175     238.0\n55         60    121       146     450.7\n56         60    118       121     413.0\n57         45    115       144     305.0\n58         20    153       172     226.4\n59         45    123       152     321.0\n60        210    108       160    1376.0\n61        160    110       137    1034.4\n62        160    109       135     853.0\n63         45    118       141     341.0\n64         20    110       130     131.4\n65        180     90       130     800.4\n66        150    105       135     873.4\n67        150    107       130     816.0\n68         20    106       136     110.4\n69        300    108       143    1500.2\n70        150     97       129    1115.0\n71         60    109       153     387.6\n72         90    100       127     700.0\n73        150     97       127     953.2\n74         45    114       146     304.0\n75         90     98       125     563.2\n76         45    105       134     251.0\n77         45    110       141     300.0\n78        120    100       130     500.4\n79        270    100       131    1729.0\n80         30    159       182     319.2\n81         45    149       169     344.0\n82         30    103       139     151.1\n83        120    100       130     500.0\n84         45    100       120     225.3\n85         30    151       170     300.1\n86         45    102       136     234.0\n87        120    100       157    1000.1\n88         45    129       103     242.0\n89         20     83       107      50.3\n90        180    101       127     600.1\n91         45    107       137       NaN\n92         30     90       107     105.3\n93         15     80       100      50.5\n94         20    150       171     127.4\n95         20    151       168     229.4\n96         30     95       128     128.2\n97         25    152       168     244.2\n98         30    109       131     188.2\n99         90     93       124     604.1\n100        20     95       112      77.7\n101        90     90       110     500.0\n102        90     90       100     500.0\n103        90     90       100     500.4\n104        30     92       108      92.7\n105        30     93       128     124.0\n106       180     90       120     800.3\n107        30     90       120      86.2\n108        90     90       120     500.3\n109       210    137       184    1860.4\n110        60    102       124     325.2\n111        45    107       124     275.0\n112        15    124       139     124.2\n113        45    100       120     225.3\n114        60    108       131     367.6\n115        60    108       151     351.7\n116        60    116       141     443.0\n117        60     97       122     277.4\n118        60    105       125       NaN\n119        60    103       124     332.7\n120        30    112       137     193.9\n121        45    100       120     100.7\n122        60    119       169     336.7\n123        60    107       127     344.9\n124        60    111       151     368.5\n125        60     98       122     271.0\n126        60     97       124     275.3\n127        60    109       127     382.0\n128        90     99       125     466.4\n129        60    114       151     384.0\n130        60    104       134     342.5\n131        60    107       138     357.5\n132        60    103       133     335.0\n133        60    106       132     327.5\n134        60    103       136     339.0\n135        20    136       156     189.0\n136        45    117       143     317.7\n137        45    115       137     318.0\n138        45    113       138     308.0\n139        20    141       162     222.4\n140        60    108       135     390.0\n141        60     97       127       NaN\n142        45    100       120     250.4\n143        45    122       149     335.4\n144        60    136       170     470.2\n145        45    106       126     270.8\n146        60    107       136     400.0\n147        60    112       146     361.9\n148        30    103       127     185.0\n149        60    110       150     409.4\n150        60    106       134     343.0\n151        60    109       129     353.2\n152        60    109       138     374.0\n153        30    150       167     275.8\n154        60    105       128     328.0\n155        60    111       151     368.5\n156        60     97       131     270.4\n157        60    100       120     270.4\n158        60    114       150     382.8\n159        30     80       120     240.9\n160        30     85       120     250.4\n161        45     90       130     260.4\n162        45     95       130     270.0\n163        45    100       140     280.9\n164        60    105       140     290.8\n165        60    110       145     300.4\n166        60    115       145     310.2\n167        75    120       150     320.4\n168        75    125       150     330.4'

In [80]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)
print(type(df))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300
<class 'pandas.core.frame.DataFrame'>

#### Analyzing Data

In [87]:
#Remove empty cells

df_data.info() # 5 null values in Calories

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [90]:
new_df = df_data.dropna() #dropna does not change the original

In [91]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB

In [99]:
#Replace empty values

replaced_df = df_data.fillna(13)

In [100]:
replaced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [101]:
replaced_by_mean = df_data["Calories"].fillna(df_data["Calories"].mean())
replaced_by_mean

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [102]:
mean = df_data["Calories"].mean()
median = df_data["Calories"].median()
mode = df_data["Calories"].mode()[0]

replaced_by_mode = df_data.fillna(mode)

In [104]:
replaced_by_mode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [108]:
#Change/correct values

df_data.loc[7,'Duration'] = 45

In [109]:
df_data.loc[7,'Duration']

45

In [111]:
for x in df_data.index:
  if df_data.loc[x, "Duration"] > 120:
    df_data.loc[x, "Duration"] = 120

In [113]:
df_data["Duration"].max()

120

In [139]:
duplicate_rows = df_data.duplicated()
for x in duplicate_rows:
    if x == True:
        print(x)

True
True
True
True
True
True
True

In [140]:
df_data.drop_duplicates()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]

In [141]:
df_data.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.238237 -0.072727  0.813465
Pulse    -0.238237  1.000000  0.786535  0.038050
Maxpulse -0.072727  0.786535  1.000000  0.212324
Calories  0.813465  0.038050  0.212324  1.000000